html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
}
.el-card {
    margin-top:15px;
}
.el-table {
    margin-top: 15px;
}
.el-scrollbar__wrap{
    height: 200px;
}
.el-cascader-menu .el-radio {
    display: table;
    vertical-align: middle;
    width: 90%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    margin-left:-20px;
    padding-left:10px;
  }
  .el-cascader-menu .el-radio .el-radio__input {
    display: table-cell;
    vertical-align: middle;
  }